/**
** style definition for the Bingo board
**/

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Oswald.woff) format("woff");
}

// Explain what is this rule: *
* {
  font-family: sans-serif, 'Oswald';

}

body, html {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {

}

.bingoBoard {
  font-size: 25px;
  border: 1px solid #ecf0f1;

  tr {

    td, th {
      background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 1px, transparent 1px, transparent 6px);
      background-size: 2px 2px;
      padding: 10px;
      box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.75);
      border: 2px solid transparent;
      border-radius: 15px;
    }

    th {
      font-weight: bold;
      background: #3498db;
    }

    td {
      cursor: pointer;

      &:hover, &.selected {
        color: #FFFF00;
        background: #000000;
        border: 2px solid #282828;
      }

      // Mark completed row
      &.completedRow, &.completedColumn {
        background: #FF3300;
      }

    }

    // Disable the central number
    &:nth-of-type(4) td:nth-of-type(3) {
      opacity: 0;
    }

  }
}