/**
** style definition for the Bingo board
**/
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Oswald.woff) format("woff");
}

/* line 13, style.scss */
* {
  font-family: sans-serif, 'Oswald';
}

/* line 18, style.scss */
body, html {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

/* line 29, style.scss */
.bingoBoard {
  font-size: 25px;
  border: 1px solid #ecf0f1;
}
/* line 35, style.scss */
.bingoBoard tr td, .bingoBoard tr th {
  background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 2px 2px;
  padding: 10px;
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.75);
}
/* line 42, style.scss */
.bingoBoard tr th {
  font-weight: bold;
  background: #3498db;
}
/* line 47, style.scss */
.bingoBoard tr td {
  cursor: pointer;
}
/* line 51, style.scss */
.bingoBoard tr td:hover {
  background: transparent;
  color: darkred;
}
