extends ../layout

block title
  title HTML5 Elements | HTML5 Open Academy

block slides

  section.slide
    h1 Session 2
      .subtitle HTML5 Elements

  section.slide
    h1 Daniel Sternlicht
      .subtitle Front End Developer, Conduit
      .subtitle.small
        a(href="http://www.danielsternlicht.com", target="_blank") www.danielsternlicht.com
        br
        @gandtblog

  section.slide
    h2 We're going to talk about
    ul
      li.slide
        | HTML5 Elements
      li.slide
        | Web Layouts
      li.slide
        | HTML Attributes

  section.slide
    h2 Just before we start
    ul
      li.slide
        | HTML Tags = HTML Elements = HTML Tags
      li.slide
        | HTML4 Vs. HTML5
      li.slide
        | HTML5 Compatibility (IE9+)
      li.slide
        | My purpose

  section.slide
    h2 Markup
    pre
      code
        &lt;<strong>important</strong>&gt; HTML Rules &lt;/<strong>important</strong>&gt;
    pre
      code
        &lt;<strong>silly</strong>&gt; I like the Simpsons! &lt;/<strong>silly</strong>&gt;
    pre
      code
        &lt;<strong>heading</strong>&gt; Luke, I am your father &lt;/<strong>heading</strong>&gt;

  section.slide
    h2 A few points to remember
    ul
      li.slide
        | You may add HTML element inside another element - which creates the HTML tree
      li.slide
        | HTML tags devides into container tags and empty tags
      li.slide
        | HTML elements could have attributes
      li.slide
        | Mostly, any webpage you know is an HTML page

  section.slide
    h2 Container tags examples
    pre
      code /* Container tags */ <br /><br />&lt;body&gt;&lt;/body&gt; <br />&lt;div&gt;&lt;/div&gt; <br />&lt;p&gt;&lt;/p&gt; <br />&lt;header&gt;&lt;/header&gt; <br />&lt;li&gt;&lt;/li&gt;

  section.slide
    h2 The one rule you don't want to forget...
    figure
      img(src="assets/images/html5-elements/monkey.jpg")

  section.slide
    h2 Why?...
    figure
      img(src="assets/images/html5-elements/evil.png")
      <p style="text-align: center;">Because HTML tags are evil...</p>

  section.slide
    h2 Any Exceptions?
    figure
      img(src="assets/images/html5-elements/meg_exception.jpg")

  section.slide
    h2 Empty tags examples
    pre
      code /* Empty tag */ <br /><br />&lt;img /&gt; <br />&lt;br /&gt; <br />&lt;input /&gt;

  section.slide
    h2 Basic HTML page structure
    pre
      code
        &lt;html&gt; <br />  &lt;head&gt;  &lt;/head&gt; <br />  &lt;body&gt; <br /><br />     Page content goes here... (Including more HTML elements)<br /><br />  &lt;/body&gt; <br />&lt;/html&gt;

  section.slide
    h2 The Peter Griffin's HTML page
    figure
      img(src="assets/images/html5-elements/peter-structure.png")

  section.slide
    h1 Attributes

  section.slide
    h2 HTML Attribute syntax
    <p class="slide" style="font-size: 44px;position: absolute;top: 40%;text-align: center;width: 100%;"><span style="opacity: 0.5;">&lt;tagname</span> <b style="color: red;">attribute</b><b style="color: blue;">="</b><b style="color: green;">property</b><b style="color: blue;">"</b> <span style="opacity: 0.5;">&gt;&lt;/tagname&gt;</span></p>
    <p class="slide" style="font-size: 44px;position: absolute;top: 40%;margin-top: 66px; text-align: center;width: 100%;"><span style="opacity: 0.5;">&lt;a</span> <b style="color: red;">href</b><b style="color: blue;">="</b><b style="color: green;">http://danielsternlicht.com</b><b style="color: blue;">"</b> <span style="opacity: 0.5;">&gt;&lt;/a&gt;</span></p>

  section.slide
    h1 Layouts

  section.slide
    h2 Examples
    <figure style="position: absolute; left: 10%; width: 80%; top: 120px; z-index: 1;" class="slide"><img src="assets/images/html5-elements/facebook-layout.png" style="max-height: 75%;" /></figure>
    <figure style="position: absolute; left: 10%; width: 80%; top: 120px; z-index: 2;" class="slide"><img src="assets/images/html5-elements/facebook-layout2.png" style="max-height: 75%;" /></figure>

  section.slide
    h2 Examples
    <figure style="position: absolute; left: 10%; width: 80%; top: 120px; z-index: 1;" class="slide"><img src="assets/images/html5-elements/walla-layout.png" style="max-height: 75%;" /></figure>
    <figure style="position: absolute; left: 10%; width: 80%; top: 120px; z-index: 2;" class="slide"><img src="assets/images/html5-elements/walla-layout2.png" style="max-height: 75%;" /></figure>

  section.slide
    h2 HTML5 Layout
    figure
      img(src="assets/images/html5-elements/HTML5-page-layout.png")

  section.slide
    h2 HTML5 Layout example
    <figure style="position: absolute; left: 10%; width: 80%; top: 120px; z-index: 1;"><img src="assets/images/html5-elements/facebook-layout.png" style="max-height: 75%;" /></figure>
    <figure style="position: absolute; left: 10%; width: 80%; top: 120px; z-index: 1;" class="slide"><img src="assets/images/html5-elements/facebook-layout3.png" style="max-height: 75%;" /></figure>
  
  section.slide
    h2 HTML5 Layout example
    <figure style="position: absolute; left: 10%; width: 80%; top: 120px; z-index: 1;"><img src="assets/images/html5-elements/walla-layout.png" style="max-height: 75%;" /></figure>
    <figure style="position: absolute; left: 10%; width: 80%; top: 120px; z-index: 1;" class="slide"><img src="assets/images/html5-elements/walla-layout3.png" style="max-height: 75%;" /></figure>

  section.slide
    h1 Live Coding

  section.slide
    h1 Beer Break
      .subtitle right before we're getting our hands dirty...

