extends ../layout

block title
  title HTML5 Open Academy | Presentation List

block slides
  section.slide
    h2 HTML5 Open Academy
    h3 Presentation List
    ul
      li
        a(href="./web-markup-intro.html",target="_blank")
          |Introduction to the Web and Markup languages
        |  - Zohar Arad
      li
        a(href="./html5-elements.html",target="_blank")
          |Drill down to HTML5 elements
        |  - Daniel Sternlicht

block init_script
  script
    $(function() {
      $.deck('.slide', {
        clock: {
          enabled: false
        }
      });
    });