/**
** This file contain the classes that will be used for the exercise
** @authors Nir & Shay
**/

/* Here you can set the background, font etc for the entire page */
body {

}

/* Set the style of the table cells */
.bingoBoard tr td,
.bingoBoard tr th {
    padding: 10px;
    box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.75);
    border: 2px solid transparent;
    border-radius: 15px;
}

/*
 * Add specific style for the header.
 * In our case the background color and font
 */
.bingoBoard tr th {
    font-weight: bold;
    background: #3498db;
}

/*
 * Set the style when the mouse is moving over the cell
 */
.bingoBoard tr td:hover {
    color: #FFFF00;
    background: #000000;
    border: 2px solid #282828;
}

/*
 * Set the style when the cell is selected
 */
.bingoBoard tr td.selected {
    color: #FFFF00;
    background: #000000;
    border: 2px solid #282828;
}

/* Set the sytle of a complete row */
.bingoBoard tr td.completedRow {
    background: #FF3300;

}

/* Set the sytle of a complete column */
.bingoBoard tr td.completedColumn {
    background: #FF3300;
}

