!!! 5
html
  head
    block title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=1024, user-scalable=no')

    link(rel='stylesheet', href='./deckjs/core/deck.core.css')
    link(rel='stylesheet', href='./deckjs/extensions/goto/deck.goto.css')
    link(rel='stylesheet', href='./deckjs/extensions/menu/deck.menu.css')
    link(rel='stylesheet', href='./deckjs/extensions/navigation/deck.navigation.css')
    link(rel='stylesheet', href='./deckjs/extensions/status/deck.status.css')
    link(rel='stylesheet', href='./deckjs/extensions/hash/deck.hash.css')
    link(rel='stylesheet', href='./deckjs/extensions/scale/deck.scale.css')
    link(rel='stylesheet', href='./deckjs/themes/style/HTML5OpenAcademy.css')
    link(rel='stylesheet', href='./deckjs/themes/transition/horizontal-slide.css')

    link(rel="stylesheet", href="./deckjs/plugins/codemirror/deck.codemirror.css")
    link(rel="stylesheet", href="./deckjs/plugins/codemirror/themes/elegant.css")

    script(src='./deckjs/modernizr.custom.js')

  body.deck-container

    .iscoWatermark
      .left
      .right

    block slides

    a.deck-prev-link(href="#", title="Previous") &#8592;
    a.deck-next-link(href="#", title="Next") &#8594;

    p.deck-status
      span.deck-status-current
      | /
      span.deck-status-total

    form.goto-form(action='../', method='get')
      label(for='goto-slide') Go to slide:
      input#goto-slide(type='text', name='slidenum', list='goto-datalist')
      datalist#goto-datalist
      input(type='submit', value='Go')

    a.deck-permalink(href='../', title='Permalink to this slide') #

    div.clock
      span#clock-time
      a#toggle-clock

    script(src='./deckjs/jquery-1.7.2.min.js')
    script(src='./deckjs/core/deck.core.js')

    script(src='./deckjs/core/deck.core.js')
    script(src='./deckjs/extensions/hash/deck.hash.js')
    script(src='./deckjs/extensions/menu/deck.menu.js')
    script(src='./deckjs/extensions/goto/deck.goto.js')
    script(src='./deckjs/extensions/status/deck.status.js')
    script(src='./deckjs/extensions/navigation/deck.navigation.js')
    script(src='./deckjs/extensions/scale/deck.scale.js')

    script(src="./deckjs/plugins/codemirror/codemirror.js")
    script(src="./deckjs/plugins/codemirror/mode/javascript/javascript.js")
    script(src="./deckjs/plugins/codemirror/deck.codemirror.js")
    script(src="./deckjs/plugins/clock/deck.clock.js")

    script
      $(function() {
        $.deck('.slide', {
          codemirror: {
            lineNumbers: true,
            theme: "elegant",
            indentUnit: 2,
            indentWithTabs: false,
            runnable: false
          }
        });
      });